*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 60px 20px;
    background: #6face0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  .range-slider {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: aliceblue 1px solid;
  }  
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 15px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1675E1;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1675E1;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1675E1;
  }
  
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1675E1;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1675E1;
  }
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1675E1;
  }
  
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }

  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }
  
  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }
  
@media only screen and (max-width: 600px) {

    body {
      padding: 15px;
    }

    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    
    .range-slider__range::-webkit-slider-thumb {
      -webkit-appearance: none;
              appearance: none;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #1675E1;
      cursor: pointer;
      transition: background .15s ease-in-out;
    }      

    .range-slider__value {
      display: inline-block;
      position: relative;
      width: 60px;
      color: #fff;
      line-height: 50px;
      text-align: center;
      border-radius: 3px;
      background: #2c3e50;
      padding: 5px 10px;
      margin-left: 8px;
      font-size: 1.75em;
  }

  .range-slider__value:after {
      position: absolute;
      top: 22px;
      left: -8px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid #2c3e50;
      border-bottom: 10px solid transparent;
      content: '';
  }
}
  
